/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-jul-2017, 17:51:29
    Author     : Arnaldo
*/
/*
Negro #000000
Blanco #FFFFFF
*/
.bodyesc {
    background-color: #acacae;
}

.reservedesc {
    color: #850000;
 }

.stringsesc {
    color: #e5d107;
}

